In [4]:
st="asdfvb"
cnt=0
for i in st:
  cnt+=1

print(cnt)

6

In [12]:
#  Write a program to check if the word 'orange' is present in the "This is orange juice".
st="This is orange juice"
i=st.find('juice')
print(i)
if i!=-1:
  print("yes prasent")
else:
  print("not present")

yes prasent

In [14]:
st="This is orange juice"
if 'orange' in st:
  print("yes")

yes

In [27]:
# Q13. Write a program to find the number of vowels, consonants, digits, and white space characters in a string.
string = 'Abcd KHF 5KFJG FRbfggbhIO45  645kv 498 h489ytrt 45 grkj'
cnt_vowel=0
cnt_consonent=0
cnt_digit=0
cnt_white_spaces=0
for char in string:
  if char in "AEIOUaeiou":
    # print("vowels prasent")
    cnt_vowel+=1
    # print(cnt_vowel)
  elif char in "0123456789":
    cnt_digit+=1
  elif char not in 'AEIOUaeiou':
    cnt_consonent+=1
  elif char in " \t\n":
    cnt_white_spaces+=1
print(cnt_vowel,'\n',cnt_consonent,'\n',cnt_digit,'\n',cnt_white_spaces)

3
 38
 14
 0

In [9]:
# Q25. Write a Python program to find the second most repeated word in a given string
string = 'aa bb gg ss bb rr yy ff yy ee dd'
string1=string.split()
d={}
for i in string1:
  # print(i,string.count(i))
  d[i]=string.count(i)
l=[]
for i in d.values():
  l.append(i)
l=sorted(l)
for i in d.keys():
  for j in l:
    d[i] =j

{'aa': 2,
 'bb': 2,
 'gg': 2,
 'ss': 2,
 'rr': 2,
 'yy': 2,
 'ff': 2,
 'ee': 2,
 'dd': 2}

In [10]:
string = 'aa bb gg ss bb rr yy ff yy ee dd'
words = string.split()
word_counts = {}

for word in words:
  if word in word_counts:
    word_counts[word] += 1
  else:
    word_counts[word] = 1
word_counts

{'aa': 1,
 'bb': 2,
 'gg': 1,
 'ss': 1,
 'rr': 1,
 'yy': 2,
 'ff': 1,
 'ee': 1,
 'dd': 1}

In [11]:
sorted_word_counts=sorted(word_counts.items(),key=lambda x : x[1],reverse=True)
second_most_repeated_word = None
if len(sorted_word_counts)>=1:
  second_most_repeated_word = sorted_word_counts[1][0]
print("Second most repeated word:", second_most_repeated_word)

Second most repeated word: yy

In [21]:
# Q26. Python program to Count Even and Odd numbers in a string
str1="123456789"
even=0
odd=0
for i in str1:
  if int(i) % 2 ==0:
    even +=1
    # print("even",i)
  else:
    odd +=1
    # print("odd",i)
print("even-count-->",even,"\n","odd-even-->",odd)

even-count--> 4
 odd-even--> 5

In [31]:
# Q27. How do you check if a string contains only digits?

In [28]:
string = 'ifgb98 j8u (*&hifd78 IHigt)'
contains_only_digits = string.isdigit()

print("Does the string contain only digits?", contains_only_digits)

Does the string contain only digits? False

In [30]:
string = 'ifgb98 j8u (*&hifd78 IHigt)'
d = {}
for i in string:
    if i.isdigit():
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
d

{'9': 1, '8': 3, '7': 1}

In [ ]:
# Q28. How do you remove a given character/word from String?
string.replace(char,"")

In [37]:
string = 'Remove the characters which have odd index values of a given string'
new_string = ''

for i in range(len(string)):
    if i % 2 == 0:
        new_string += string[i]

print(new_string)

Rmv h hrceswihhv d ne auso  ie tig

In [38]:
# Q29. Write a Python program to remove the characters which have odd index values of a given string
string = 'Remove the characters which have odd index values of a given string'
new_string = ''
for i in range(len(string)):
  if i%2 == 0:
    new_string +=string[i]

string

'Remove the characters which have odd index values of a given string'

In [39]:
string = 'Remove the characters which have odd index values of a given string'
new_string = ''
for i in range(len(string)):
  if i%2 == 0:
    new_string = new_string + string[i]

new_string

'Rmv h hrceswihhv d ne auso  ie tig'

In [43]:
# Q30. Write a Python function to reverses a string if its length is a multiple of 5
string='asdfghjertyjsdfgh'
print(len(string))
if len(string)%5==0:

  string=string[::-1]
string

17

'asdfghjertyjsdfgh'

In [59]:
# Q31. Write a Python program to format a number with a percentage(0.05 >> 5%)
a=0.75
# print('{}%'.format(a))
print('{:.0%}'.format(a))

# print(a*100)

75%

In [82]:
# Q32. Write a Python program to reverse words in a string
string = 'You are a good boy'
str1=''
l=string.split()
for i in range(len(l)):
  # You, are, a
  str1=str1 +' '+ l[i][::-1]

str1

' uoY era a doog yob'

In [83]:
# Q32. Write a Python program to reverse words in a string
string = 'You are a good boy'
str1=''
l=string.split()
for i in range(len(l)):
  # You, are, a
  l[i]=l[i][::-1]
string=' '.join(l)

string

'uoY era a doog yob'

In [91]:
# Q33. Write a Python program to swap cases of a given string
string='asdfghjAERTYUK'
string=string.swapcase()

string

'ASDFGHJaertyuk'

In [92]:
# Q34. Write a Python program to remove spaces from a given string
# string.strip()
string.replace(' ','')

'ASDFGHJaertyuk'

In [97]:
# Q35. Write a Python program to remove duplicate characters of a given string
string = 'TThis is JOhn used to remove spaces from string.'
l=[]
for i in string:
  # T,h,i,s
  if i not in new_string:
    l.append(i)
    l=' '.join(i)
l

[]

In [98]:
# Q35. Write a Python program to remove duplicate characters of a given string
string = 'TThis is JOhn used to remove spaces from string.'
new_string=''
for i in string:
  if i not in new_string:
    new_string += i
new_string

'This JOnuedtormvpacfg.'

In [99]:
string = 'TThis is JOhn used to remove spaces from string.'
new_string = ''

for char in string:
    if char not in new_string:
        new_string += char

print(new_string)

This JOnuedtormvpacfg.

In [102]:
# Q36. Write a Python Program to find the area of a circle

def area(r):
    area_of_circle=3.14*r*r
    return area_of_circle
a=area(5)
print(a)

78.5

In [105]:
# Q37. Python Program to find Sum of squares of first n natural numbers
# n=n*(n+1)//2
def sum_of_square(n):
  a=n*(n+1)//2
  return a
b=sum_of_square(6)
b

21

In [ ]:
# Q38. Python Program to find cube sum of first n natural numbers

In [ ]:
# Q39.Python Program to find simple interest and compound interest
# simple_intr = (P*T*R)/100
simple_intr =(P*R*T)/100
compound_intr = P *(1 + n/r)**(n*t)

In [120]:
# Q40. Python program to check whether a number is Prime or not
num_list=[1,2,345,45,6,7,4,3,2,7,8,9]
# # prime number i.e. number % 1, or number % by number
# for n in num_list:
#   # 1,2,345
#   for i in range(2,len(num_list)):
#     # 2,3,345
#     if n % i == 0 or n % i == n:
#       print("num is prime",i)

In [126]:
num=4
for i in range(2,n):
  if num % i == 0:
    print("not prime no",num)
else:
  print("prime no",num)

not prime no 4
not prime no 4
prime no 4

In [ ]:
num = 7
num = 16
num = 9
num = 15
num = 19

In [ ]:
num / 1,num /num---> prime no

In [ ]:
# prime no- if num is divisible by only 1 and number itself is called as prime number

In [132]:
l=[1,2,3,4,5,6,7,8,9]
for num in l:
  for i in range(2,len(l)):
    if num % i == 0:
      print("not prime",num)
      break
  else:
    print("Num is prime",num)

Num is prime 1
not prime 2
not prime 3
not prime 4
not prime 5
not prime 6
not prime 7
not prime 8
not prime 9

In [137]:
num=77
for i in range(2,num):
  if num % i == 0:
    print(num,"not prime")
    break
else:
  print("no is prime number")

77 not prime

In [141]:
#Q4. Python Program to find the largest element in the list.
l=[1,3,2,5,6,8]
largest = l[0]
for i in l:
  if largest < i:
    largest = i
largest

8

In [143]:
# Q5. Python program to interchange first and last elements in a list.
l=[1,2,3,4,5,6,7,8,9]
l_0=l[0]
l_1=l[-1]
# for i in l:
#   print(i)

In [144]:
l=[1,2,3,4,5,6,7,8,9]
def reverse_index(l):
  l[0],l[-1]=l[-1],l[0]
  return l
res=reverse_index(l)
print(res)

[9, 2, 3, 4, 5, 6, 7, 8, 1]

In [149]:
# Q6. Python program to swap two elements in a list.

l=[1,2,3,4,5,6,7,8,9]
def swap_index(x,y):
  l[x],l[y] = l[y],l[x]
  return l
print(swap_index(0,1))

# l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# def swap_index(x, y):
#     l[x], l[y] = l[y], l[x]
#     return l

# print(swap_index(0, 1))

[2, 1, 3, 4, 5, 6, 7, 8, 9]

In [151]:
# Q7. Python program to Reverse a List
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 1, 2]

In [153]:
def reverse_list(lst):
  return lst[::-1]
reverse_list([1,2,3,4,5,6,7,8,9])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [155]:
# Q8. Python program to count occurrences of an element in a list
l=[1,2,1,3,3,4,5,6,5,7,8,9,10,2,3,4,5,7,1,1,2,1,2,1,3,4,2,1,1,2,3,8]
d={}
for i in l:
  d[i] = l.count(i)
d

{1: 8, 2: 6, 3: 5, 4: 3, 5: 3, 6: 1, 7: 2, 8: 2, 9: 1, 10: 1}

In [157]:
# Q9. Python program to find the sum of elements in a list
# sum(l)
x=lambda x : sum(x)
x(l)

117

In [164]:
# Q10. Python program to Multiply all numbers in the list
product = 1
for num in [1,2,3]:
  product *= num
product

6

In [167]:
# Q11. What are the ways to find the length of a list
cnt=0
for i in [1,2,3,4,5,6,7]:
  cnt +=1
cnt

7